{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Plant Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .image-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
        }

        .image-container img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-right: 10px;
        }

        .table-container {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <br>
        <h2>Search plants</h2>
        <hr>
        <br>
        <form method="post" action="{% url 'plant_library' %}">
            {% csrf_token %}
            <input type="text" name="query" placeholder="Enter a search query">
            <button type="submit">Search</button>
        </form>
        <br>
        <hr>
        
        <div class="table-container">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Common Name</th>
                        <th>Scientific Name</th>
                        <th>Other Name</th>
                        <th>Cycle</th>
                        <th>Watering</th>
                    </tr>
                </thead>
                <tbody>
                    {% if context %}
                       
                            <tr>
                                <td>{{ context.common_name }}</td>
                                <td>{{ context.scientific_name }}</td>
                                <td>{{ context.other_name }}</td>
                                <td>{{ context.cycle }}</td>
                                <td>{{ context.watering }}</td>
                            </tr>
                       
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-container">
           
            <table class="table">
                <thead>
                    <tr>
                        <th>Common Name</th>
                        <th>Scientific Name</th>
                        <th>Other Name</th>
                        <th>Cycle</th>
                        <th>Watering</th>
                    </tr>
                </thead>
                <tbody>
                    {% if context1 %}
                        <tr>
                            <td>{{ context1.common_name }}</td>
                            <td>{{ context1.scientific_name }}</td>
                            <td>{{ context1.other_name }}</td>
                            <td>{{ context1.cycle }}</td>
                            <td>{{ context1.watering }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="table-container">
           
            <table class="table">
                <thead>
                    <tr>
                        <th>Common Name</th>
                        <th>Scientific Name</th>
                        <th>Other Name</th>
                        <th>Cycle</th>
                        <th>Watering</th>
                    </tr>
                </thead>
                <tbody>
                    {% if context2 %}
                        <tr>
                            <td>{{ context2.common_name }}</td>
                            <td>{{ context2.scientific_name }}</td>
                            <td>{{ context2.other_name }}</td>
                            <td>{{ context2.cycle }}</td>
                            <td>{{ context2.watering }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="image-container">
            {% if context %}
                
                    <img src="{{ context.image_links.thumbnail }}" alt="Thumbnail Image">
                    
                
            {% endif %}
        </div>


        
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
